<div class="profile-container">

  <div class="profile-header">

    <div class="avatar">
      👤
    </div>

    <div class="user-info">
      <h2><%= @user.username %></h2>

      <p><%= @user.email %></p>

      <div class="profile-stats">

        <div>
          <strong><%= @user.posts.count %></strong><br>
          Постов
        </div>

        <div>
          <strong><%= @user.followers.count %></strong><br>
          Подписчиков
        </div>

        <div>
          <strong><%= @user.following.count %></strong><br>
          Подписок
        </div>

      </div>

      <div class="buttons">
        <%= link_to "Выйти", destroy_user_session_path, data: { turbo_method: :delete } %>
      </div>

    </div>

  </div>

</div>