<div class="profile-container">

    <div class="profile-header">

        <div class="avatar">

            <% if @user.avatar.attached? %>

                <%= image_tag @user.avatar, class: "profile-avatar" %>

            <% else %>
                👤
            <% end %>

        </div>

        <div class="user-info">
            <h2><%= @user.username %></h2>

            <% if @user.gender.present? %>

                <p><%= @user.gender == "male" ? "Мужской" : "Женский" %></p>

            <% end %>

            <div class="profile-stats">

                <div>
                    <strong><%= @user.posts.count %></strong><br>
                    Постов
                </div>

                <div>
                    <strong><%= @user.followers.count %></strong><br>
                    Подписчиков
                </div>

                <div>
                    <strong><%= @user.following.count %></strong><br>
                    Подписок
                </div>

            </div>

            <% if @user.bio.present? %>

                <div class="bio">
                <p><%= @user.bio %></p>
                </div>

            <% end %>

            <% unless current_user == @user %>

                <% if current_user.following?(@user) %>

                    <%= button_to "Отписаться",
                                follow_path(following_id: @user.id),
                                method: :delete,
                                class: "unfollow-button" %>

                <% else %>

                    <%= button_to "Подписаться",
                                follow_path(following_id: @user.id),
                                method: :post,
                                class: "follow-button" %>

                <% end %>

            <% end %>

        </div>

    </div>

</div>

<hr class="profile-divider">

<div class="profile-posts">

    <h3>Публикации</h3>

    <% if @posts.any? %>

        <% @posts.each do |post| %>

           <%= render "posts/post", post: post %>

        <% end %> 

    <% else %>

        <p class="no-posts">У вас пока нет публикаций.</p>

    <% end %>

</div>
