<div class="profile-container">

    <div class="profile-header">

        <div class="avatar">

            <% if @user.avatar.attached? %>

                <%= image_tag @user.avatar, class: "profile-avatar" %>

            <% else %>
                👤
            <% end %>

        </div>

        <div class="user-info">

            <div class="profile-top">

                <h2><%= @user.username %></h2>

                <% if @user.gender.present? %>

                    <span class="profile-gender">
                        <%= @user.gender == "male" ? "Мужской" : "Женский" %>
                    </span>

                <% end %>

            </div>

            <div class="profile-stats">

                <div>
                    <strong><%= @user.posts.count %></strong>
                    <span>Постов</span>
                </div>

                <div>
                    <strong><%= @user.followers.count %></strong>
                    <span>Подписчиков</span>
                </div>

                <div>
                    <strong><%= @user.following.count %></strong>
                    <span>Подписок</span>
                </div>

            </div>

            <% if @user.bio.present? %>

                <div class="bio"><%= @user.bio %></div>

            <% end %>


            <div class="buttons">
            
                <% unless current_user == @user %>

                    <% if current_user.following?(@user) %>

                        <%= button_to "Отписаться",
                                    follow_path(following_id: @user.id),
                                    method: :delete,
                                    class: "unfollow-button" %>

                    <% else %>

                        <%= button_to "Подписаться",
                                    follow_path(following_id: @user.id),
                                    method: :post,
                                    class: "follow-button" %>

                    <% end %>

                <% end %>

            </div>

        </div>

    </div>

</div>

<hr class="profile-divider">

<div class="profile-posts">

    <h3>Публикации</h3>

    <% if @posts.any? %>

        <div class="profile-posts-grid">

            <% @posts.each do |post| %>

                <%= render "posts/post", post: post %>

            <% end %>

        </div>

    <% else %>

        <p class="no-posts">
            Здесь пока нет публикаций.
        </p>

    <% end %>

</div>