<div class="home-container">

    <div class="search-box">

        <%= form_with url: root_path, method: :get, data: { controller: "search" } do |f| %>

            <%= f.text_field :query,
                value: @query,
                placeholder: "Поиск",
                autocomplete: "off",
                data: {
                action: "input->search#submit",
                search_target: "input"
                } %>

        <% end %>

    </div>

    <div class="search-results">

        <% if @query.present? %>

            <% if @users.any? %>

                <% @users.each do |user| %>

                    <div class="search-user">

                        <span style="font-size:28px; margin-right:14px;">
                            👤
                        </span>

                        <%= link_to user.username, user_path(user) %>

                    </div>

                <% end %>

            <% else %>

                <p>Ничего не найдено.</p>

            <% end %>

        <% else %>

            <p>История поиска пока пуста.</p>

        <% end %>

    </div>

    <h2>Лента подписок</h2>

<% if @posts.any? %>

  <% @posts.each do |post| %>

    <div>

      <p><strong><%= post.user.username %></strong></p>

      <% if post.image.attached? %>
        <%= image_tag post.image, width: 300 %>
      <% end %>

      <p><%= post.caption %></p>

      <p>❤️ <%= post.likes.count %> лайков</p>

      <hr>

    </div>

  <% end %>

<% else %>

  <p>Вы пока ни на кого не подписаны или в вашей ленте нет публикаций.</p>

<% end %>

    <h1>InstiMax</h1>

    <p>Российская социальная сеть</p>

    <div class="home-buttons">

        <% if user_signed_in? %>
            <%= link_to "Мой профиль", profile_path %>

            <%= link_to "Все публикации", explore_path %>
        <% else %>
            <%= link_to "Войти", new_user_session_path %>

            <%= link_to "Регистрация", new_user_registration_path %>
        <% end %>

    </div>

</div>