<%= turbo_frame_tag "post_#{post.id}" do %>

<div class="post-card">

<div class="post-header">

  <div class="post-user">

    <div class="post-avatar">
      <% if post.user.avatar.attached? %>
        <%= image_tag post.user.avatar, class: "avatar-image" %>
      <% else %>
        <div class="avatar-placeholder">
          <%= post.user.username.first.upcase %>
        </div>
      <% end %>
    </div>

    <div class="post-user-info">

      <div class="post-author">
        <%= post.user.username %>
      </div>

      <div class="post-date">
        <%= post.created_at.strftime("%d %b %Y") %>
      </div>

    </div>

  </div>

</div>


  <% if post.image.attached? %>

    <div class="post-image-wrapper">

      <%= image_tag post.image,
            class: "post-image" %>

    </div>

  <% end %>


  <div class="post-content">

  <p class="post-caption"><%= post.caption %></p>

</div>


  <div class="post-stats">


    <% if user_signed_in? %>

      <% if post.liked_by?(current_user) %>

        <%= button_to post_like_path(post),
              method: :delete,
              form: { data: { turbo_frame: dom_id(post) } },
              class: "like-button" do %>

          <span class="liked-heart">
            ♥
          </span>

        <% end %>


      <% else %>

        <%= button_to post_like_path(post),
              method: :post,
              form: { data: { turbo_frame: dom_id(post) } },
              class: "like-button" do %>

          <span class="unliked-heart">
            ♡
          </span>

        <% end %>


      <% end %>


    <% else %>

      <span class="unliked-heart">
        ♡
      </span>

    <% end %>


    <span class="likes-count">
      <%= post.likes.count %>
    </span>


    <span class="comments-count">
      <%= post.comments.count %>
    </span>


  </div>


  <details class="comments-section">


    <summary class="comments-summary">
      Комментарии (<%= post.comments.count %>)
    </summary>


    <div class="comments-list">


      <% if post.comments.any? %>


        <% post.comments.each do |comment| %>


          <div class="comment-card">


            <div class="comment-header">

              <span class="comment-author">
                <%= comment.user.username %>
              </span>

            </div>


            <div class="comment-content">
              <%= comment.content %>
            </div>


            <% if user_signed_in? && comment.user == current_user %>

              <div class="comment-actions">

                <%= button_to "Delete",
                      post_comment_path(post, comment),
                      method: :delete,
                      class: "btn btn-danger btn-comment-delete" %>

              </div>

            <% end %>


          </div>


        <% end %>


      <% else %>


        <p class="no-comments">
          Комментариев пока нет.
        </p>


      <% end %>



      <% if user_signed_in? %>


        <%= form_with model: [post, Comment.new],
              class: "comment-form" do |f| %>


          <%= f.text_area :content,
              placeholder: "Напишите комментарий...",
              class: "comment-input",
              rows: 2 %>


          <%= f.submit "➤",
                class: "comment-submit btn btn-primary" %>


        <% end %>


      <% end %>


    </div>


  </details>



  <% if user_signed_in? && current_user == post.user %>


    <div class="post-owner-actions">


      <%= link_to "Edit",
            edit_post_path(post),
            class: "btn btn-secondary",
            data: { turbo: false } %>


      <%= link_to "Delete",
            post_path(post),
            class: "btn btn-danger",
            data: {
              turbo_method: :delete,
              turbo_confirm: "Удалить публикацию?"
            } %>


    </div>


  <% end %>


</div>


<% end %>